body{
	font-size: 20px;
	font-family: sans-serif;
	background-image: url(images/bg.jpg);
	background-size: 100%;
	color: white;
}

.startbutton{
  align-items: center;
  background-clip: padding-box;
  background-color: grey;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
	box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 60px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.startbutton:hover,
.startbutton:focus {
  background-color: lightgrey;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.startbutton:hover {
  transform: translateY(-1px);
}

.startbutton:active {
  background-color: darkgrey;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}
