body {
  background: #fbfbf8;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'menu content1'
    'menu content2'
    'menu content3'
    'menu content4'
    'menu content5'
    'menu content6'
    'menu content7'
    'menu content8'
    'menu content9'
    'menu content10';
  gap: 10px;
  background-color: #cdcdcd;
  padding: 10px;
}

.grid-container>div { /* select all divs inside the class */
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.item2 {
  grid-area: menu;
}
.item3 {
  grid-area: content1;
}
.item4 {
  grid-area: content2;
}
.item5 {
  grid-area: content3;
}
.item6 {
  grid-area: content4;
}
.item7 {
  grid-area: content5;
}
.item8 {
  grid-area: content6;
}
.item9 {
  grid-area: content7;
}
.item10 {
  grid-area: content8;
}
.item11 {
  grid-area: content9;
}
.item12 {
  grid-area: content10;
}
